// Hero
.section--hero {
	padding: 100px 0;
	background: url('img/cj__hero-bg.jpg') no-repeat center center scroll;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	@include b(m) {
		flex-direction: column;
	}
}
.hero__left {
	max-width: 50%;
	@include b(m) {
		display: flex;
		flex-direction: column;
		max-width: 100%;
	}
}
.hero__right {
	max-width: 50%;
	@include b(m) {
		display: flex;
		max-width: 100%;
	}
}

.hero__title {
	color: $color__white;
	max-width: em(242px);
	font-weight: 700;
	@include b(m) {
		text-align: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
.hero__title--highlight {
	color: $color__green
}
.hero__body {
	@include lh(16,20);
	font-family: $text__family--serif;
	color: $color__white;
	font-weight: 300;
	font-style: italic;
	max-width: em(254px);
	@include b(m) {
		text-align: center;
		@include bbb(c,c);
	}
}
.hero-form__form {
	width: em(313px);
	background: rgba(255,255,255,0.1);
	@include b(m) {
		background: transparent;
	}
	padding: em(55px) em(40px);
	@include b(m) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2rem em(40px) em(15px) em(40px);
	}
}
.hero-form__title {
	@include lh(22,22);
	letter-spacing: 0.05rem;
	font-family: $text__family--serif;
	color: $color__white;
	font-weight: 500;
	font-style: italic;
	max-width: em(195px);
	text-transform: none;
	margin-bottom: em(21px);
	@include b(m) {
		display: none;
	}
}
.hero-form__field {
	width: em(170px);

	@include b(m) {
		text-align: center;
	}
}
.home-form__select-wrapper {
	position: relative;
	width: em(170px);
	height: em(32px);
	margin-bottom: 1rem;
	&:after {
		content: url('img/cj__down-arrow.svg');
		width: 0.3rem;
		height: auto;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 1rem;
	}
}
.hero-form__select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.hero-form__submit {
	margin-top: 0.6rem;
}

// Info Blocks
.info-block__container {
	display: flex;
	align-items: center;
	@include b(m) {
		margin-top: 5rem;
		margin-bottom: 5rem;
		padding: 0 5%;
		&:first-of-type {
			margin-top: 10rem;
		}
		&:last-of-type {
			margin-bottom: 10rem;
		}
	}
	
}
.info-block__img-container {
	width: 50%;
	height: em(512px);
	display: flex;
	align-items: center;
	justify-content: center;
	@include b(m) {
		display: none;
	}
}
.info-block__right {
	width: 50%;
	@include b(m) {
		width: 100%;
		height: auto;
	}
	height: em(512px);
	display: flex;
	align-items: center;
	justify-content: center;
}
.info-block__left {
	width: 50%;
	@include b(m) {
		width: 100%;
		height: auto;
	}
	height: em(512px);
	display: flex;
	align-items: center;
	justify-content: center;

}
.info-block__sub {
	color: $color__primary;
	margin-bottom: em(2px);
	font-weight: 700;
}
.info-block__sub--la {
	@include b(m) {
		text-align: center;
	}
}
.info-block__title {
	@include bbb($color__green, l);
	@include b(m) {
		@include bbb($color__green, c);
		text-align: center;
	}
}
.info-block__body {
	max-width: 25rem;
	@include b(m) {
		text-align: center;
	}
}
.info-block__title--ra, .info-block__sub--ra, .info-block__body--ra {
	text-align: right;
	@include b(m) {
		text-align: center;
	}
}
.info-block__title--ra {
	@include bbb($color--green, r);
	@include b(m) {
		@include bbb($color--green, c);
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}
.info-block__more {
	@include lh(16, 18);
	font-weight: $text__headings--weight;
	color: $color__primary;
	font-family: $text__family--sans;
	text-transform: uppercase;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:after {
		content: url('./img/triangle.svg');
		margin-left: 0.5rem;
	}
}
.info-block__more--c {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.info-block__more--ra {
	text-align: right;
	display: block;
	@include b(m) {
		text-align: center;
	}
}
.info-block__more--la {
	@include b(m) {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}

// Banners
.banner__sub, .banner__title, .banner__body {
	text-align: center;
}
.banner {
	padding: em(75px) 0;
}
.banner:nth-of-type(odd){
	background: $color__grey--light;
}
.banner__sub {
	color: $color__primary;
	margin-bottom: em(2px);
}
.banner__body {
	max-width: em(467px);
	margin-left: auto;
	margin-right: auto;
}
.banner__title {
	@include bbb($color__green, c);
}
.banner__more {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

// Blog posts / News
.section--news {
	background-color: $color__grey--mid;
	padding: 10rem 0;
}
.news__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 3rem;
	@include b(m) {
		padding-left: 5%;
		padding-right: 5%;
	}
}
.news {
	background-color: $color__white;
	padding: em(41px) em(35px) em(35px) em(35px);
	box-shadow: em(0px) em(2px) em(4px) em(0px) rgba(0,0,0,0.05);
	border-radius: em(8px);
	margin-right: 1rem;
	margin-bottom: 2rem;
	@media (max-width: 748px) {
		margin-right: 0;
	}
	height: 35rem;
	max-width: 25rem;
	&:nth-of-type(even) {
		margin-right: 0;
	}
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.news__content {
	justify-self: flex-start;
}
.news__section-title {
	@include bbb($color__green, c);
	text-align: center;
}
.news__section-sub {
	color: $color__primary;
	margin-bottom: em(2px);
	text-align: center;
}
.news__title {
	text-align: center;
}
.news__body {
	text-align: center;
	max-width: em(266px);
	margin-left: auto;
	margin-right: auto;
}
.news__img {
	max-width: 100%;
	height: em(200px);
	background-size: cover;
}
.news__more {
	@include lh(16, 18);
	text-align: center;
	font-weight: $text__headings--weight;
	color: $color__primary;
	font-family: $text__family--sans;
	text-transform: uppercase;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:after {
		content: url('./img/triangle.svg');
		margin-left: 0.5rem;
	}
}

// Inline form
.section--inline-form {
	padding: 5rem 0;
	background-color: $color__grey--light;
}
.inline-form__sub {
	text-align: center;
	color: $color__primary;
	margin-bottom: em(2px);
}
.inline-form__title {
	text-align: center;
	@include bbb($color__green, c);
}
.inline-form__body {
	text-align: center;
	max-width: 26rem;
	margin-left: auto;
	margin-right: auto;
}
.inline-form__form {
	max-width: em(500px);
	margin-left: auto;
	margin-right: auto;
	margin-top: em(27px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.inline-form__form--top {
	flex-wrap: wrap;
	max-width: em(400px);
	margin-left: auto;
	margin-right: auto;
}
.inline-form__form--top, .inline-form__form--bottom {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 1rem;
	@include b(s) {
		flex-direction: column;
	}
}
.inline-form__field {
	margin: 0 em(10px);
	@include b(s) {
		text-align: center;
	}
}
.inline-form__select-wrapper {
	position: relative;
	width: em(145px);
	height: em(31px);
	&:after {
		content: url('img/cj__down-arrow.svg');
		width: 0.3rem;
		height: auto;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 1rem;
	}
}
.inline-form__select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	height: 100%;
	margin: 0;

}
.inline-form__submit {
	padding: em(10px) em(28px);
	display: block;
	margin-left: auto;
	margin-right: auto;
}